{% extends "app.twig" %}
{% block content %}
{% include "blog/header.twig" %}
<div id="center" class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                {%for post in posts%}
                <div  id="content">
                    <h1 id="content-title"><a href="/blog/{{cat_slug}}/{{post["slug"]}}">{{ post["title"] }}</a></h1>
                    <div id="line"></div>
                    <div id="post-image">
                        <img src="/assets/images/post-image.jpg" alt="{{title}}">
                        <a id="read-next" type="button" class="btn btn-outline-info" href="/">Читать дальше...</a>
                    </div>
                    <div id="post-descriptions">
                        {{post["content"]|raw}}
                    </div>
                    <div id="content-footer"></div>
                </div>
                {%endfor%}
            </div>
            <div class="col-md-4 col-sm-12">
                <div id="r-sidebar">
                    {%for cat in categories %}
                        <li><a href="/blog/{{cat["slug"]}}">{{cat["name"]}}</a></li>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{% include "blog/footer.twig" %}
{% endblock %}