{% extends "app.twig" %}
{% block content %}
<div class="container">
  {% include 'admin/navbar.twig' %}
  <div class="row">
    <div class="col-sm">
        <div id="content">
          <h1 id="content-title">Home page</h1>
          <div id="line"></div>
            <div class="row">
              <div class="col-2">
                <div class="nav flex-column" id="v-pills-tab" aria-orientation="vertical">
                  <ul class="nav flex-column">
                    <div id="menu" class="btn-group-vertical">
                      {% for cat in cats %}
                      <div class="btn-group" role="group" id="cat-{{ cat["id"] }}">
                          <button type="button" class="btn btn-outline-primary" onclick="get_request('/home/cat/{{cat["slug"]}}','show')">{{cat["name"]}}</button>
                          <button type="button" data-toggle="modal" data-target="#cat-modal" style="width: 50px;" class="btn btn-outline-warning" onclick="get_request('/home/edit/cat-{{ cat["id"] }}','edit','#cat-{{cat["id"]}}')">E</button>
                          <button type="button" style="width: 50px;" class="btn btn-outline-danger" onclick="get_request('/home/delete/cat-{{ cat["id"] }}','delete','#cat-{{ cat["id"] }}')">X</button>
                      </div>
                      {%endfor%}
                    </div>
                  </ul>
                  <button type="button" id="add-cat" class="btn btn-outline-success" data-toggle="modal" data-target="#cat-modal">Add cat +</button>
                </div>
              </div>
              <div class="col-9">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"><button type="button" class="btn btn-outline-success" disabled>ID</button></th>
                    <th scope="col"><button type="button" class="btn btn-outline-success" disabled>URL</button></th>
                    <th scope="col"><button type="button" class="btn btn-outline-success" disabled>Name</button></th>
                    <th scope="col"><button type="button" id="add-post" class="btn btn-outline-success" data-toggle="modal" data-target="#post-modal">Add post +</button></th>
                  </tr>
                </thead>
                <tbody id="table-posts">
                {% for post in posts %}
                  <tr id="post-{{ post["id"] }}">
                    <th scope="row">1</th>
                    <td>{{ post["slug"] }}</td>
                    <td>{{ post["title"] }}</td>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" onclick="get_request('/','edit')">Edit</button>
                        <button type="button" class="btn btn-secondary" onclick="get_request('/home/delete/post-{{ post["id"] }}','delete','#post-{{ post["id"] }}')">Delete</button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
          <div id="content-footer"></div>
        </div>
    </div>
  </div>


<div class="modal fade" id="cat-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="cat-form">
          <div class="form-group">
            <label for="cat-name" class="col-form-label" >Name:</label>
            <input name="name" type="text" class="form-control" id="cat-name" oninput="sluggable('#cat-name','#cat-slug')">
          </div>
          <div class="form-group">
            <label for="slug" class="col-form-label">Slug:</label>
            <input name="slug" type="text" class="form-control" id="cat-slug">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="post_request('/home/add-cat','cat-modal','cat-form')">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal bd-example-modal-xl fade" id="post-modal" tabindex="-1">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="post-form">
          <div class="form-group">
            <label for="cat-name" class="col-form-label">Title:</label>
            <input name="title" type="text" class="form-control" id="post-title" oninput="sluggable('#post-title','#post-slug')">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="slug" class="col-form-label">Slug:</label>
              <input name="slug" type="text" class="form-control" id="post-slug">
            </div>
            <div class="form-group col-md-6">
              <label for="cat" class="col-form-label">Category:</label>
                <select name="cat_id" class="form-control" id="cat">
                    {% for cat in cats %}
                        <option value="{{cat["id"]}}">{{cat["name"]}}</option>
                    {%endfor%}
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="postcontent" class="col-form-label">Content:</label>
            <textarea name="content" class="form-control" id="postcontent"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="post_request('/home/add-post','post-modal','post-form')">Create</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}